.blured-container-misc {
  height: 100vh;
  width: 65vw;
  background-color: var(--blur-background);
  display: flex;
  z-index: 1;
  backdrop-filter: blur(100px);
}
.blured-container-content-misc {
  display: flex;
  flex-direction: column;
}
.title {
  line-height: 20px;
}
.title-container {
  gap: 1.5rem;
}
.right-panel-container {
  margin-top: 5vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.tags-container {
  max-width: 25rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 1rem;
}
.tags-button {
  background-color: var(--tag-button-background);
  border-radius: 1000px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
